.grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-auto-columns: auto;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 1.5rem;
  width: 100%;
  max-width: 75rem;
}

.grid__item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  cursor: pointer;
}

.grid__item--image {
  max-height: 12.5rem;
  max-width: 12.5rem;
}

.grid__item--description {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  font-family: monospace;
}

.grid__item--special .grid__item--description {
  font-weight: bold;
}

.grid__item--special {
  grid-column: span 2;
  grid-row: span 2;
}

/* Media queries */

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, auto);
  }

  .grid__item--special {
    grid-column: auto;
    grid-row: auto;
  }
}

@media (min-width: 769px) {
  .grid {
    grid-template-columns: repeat(2, auto);
  }
  .grid__item--special img {
    max-height: 37.5rem;
    max-width: 37.5rem;
  }
}

@media (min-width: 1025px) {
  .grid {
    grid-template-columns: repeat(3, auto);
  }
}
